
{% load static %}

{% block content %}

<div class=" py-5 ">
  <div class="container">
      <!-- Row  -->
      <div class="row">
          <!-- Column -->
          <div class="col-md-6 ">
              <div class="card border-0 card-shadow mb-4 features-card">
                  <div class="card-body d-flex">
                     
                      <div class="align-self-center">
                          <h6 class="features-heading">Lorem, ipsum.</h6>
                          <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, ipsa excepturi? Sit tenetur, quo quibusdam sequi, cumque quod deleniti nemo quidem ullam temporibus velit, maiores voluptatum nostrum non facilis est et ut repudiandae. Atque voluptate enim amet cupiditate labore. Inventore facere necessitatibus natus blanditiis ducimus sapiente dolores facilis non sit.</p>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Column -->
          <!-- Column -->
          <div class="col-md-6">
              <div class="card border-0 card-shadow mb-4 features-card">
                  <div class="card-body d-flex">
                      
                      <div class="align-self-center">
                          <h6 class="features-heading">Lorem, ipsum.</h6>
                          <p class="mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, nemo nisi. Sed, eius saepe modi possimus tempora voluptatem tempore, rerum neque nisi vero cum omnis, aliquid aliquam ipsam provident consectetur. Sapiente corporis voluptatem eligendi quod similique ratione dicta non cumque, laborum beatae natus consequatur minima, explicabo impedit at accusantium est.</p>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Column -->
          <!-- Column -->
          <div class="col-md-6">
              <div class="card border-0 card-shadow mb-4 features-card">
                  <div class="card-body d-flex">
                     
                      <div class="align-self-center">
                          <h6 class="features-heading">Lorem, ipsum.</h6>
                          <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum accusantium amet animi, provident cum aut quis vel, minus pariatur cupiditate repellendus iure, nam libero nemo eius suscipit. Alias amet eos omnis magnam facilis. Rerum quas vero molestias saepe, veritatis culpa doloribus quisquam illum impedit accusamus optio in illo provident sit?</p>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Column -->
          <!-- Column -->
          <div class="col-md-6 ">
              <div class="card border-0 card-shadow mb-4 features-card">
                  <div class="card-body d-flex">
                      
                      <div class="align-self-center">
                          <h6 class="features-heading">Lorem, ipsum.</h6>
                          <p class="mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum nemo, maiores repudiandae vitae deleniti iusto ipsa, quod fuga iste accusantium autem accusamus reprehenderit molestiae ipsam. A dolor architecto repudiandae incidunt, totam iste laborum sit, dicta, sint quibusdam impedit ipsam. Et cupiditate consequuntur veniam voluptatem error iure id architecto maiores obcaecati.</p>
                      </div>
                  </div>
              </div>
          </div>

{% endblock %}