
{% load static %}

{% block content %}
<section id="feature" class="py-5 ">
  <div class="container content">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="section-title mb-5">What is &nbsp<span class="highlight"><br>Quantum Safety&nbsp</span>concept?</h1>
            <div class="description">
                <h3 class="mb-3">Migration before 2026</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo modi porro debitis, quam tenetur aliquid velit commodi ipsa cupiditate possimus vero voluptatum quasi veniam? Voluptatum laborum quas eaque eius nobis.</p>
            </div>
            <div class="description">
                <h3 class="mb-3">Lorem ipsum dolor sit amet.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nostrum quia in tempore magnam obcaecati! Accusantium dolor consectetur voluptate, tempora sed omnis esse placeat, inventore sunt illo, repellat eveniet atque blanditiis fugiat rem accusamus suscipit. Cupiditate, cumque dignissimos! Quis, suscipit! Voluptatum ipsum minima, perferendis nisi placeat expedita nesciunt cupiditate animi?</p>
            </div>
        </div>
        <div class="col-md-6 text-center image-container">
            <img id="" class="w-100 computer-img" src="{%static 'qs/images/laptop.png' %}" alt="Cellframe Network Image">
        </div>
    </div>
</div>


</section>
{% endblock %}