:root {
  --background-color-primary: #1b1212;
  --text-color-primary: orange;
  --text-color-body: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color-primary);
  font-family: "Montserrat", sans-serif;
  color: var(--text-color-body);
}

#hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#hero video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
  background: rgba(0, 0, 0, 0.8);
}

.radial-background {
  width: 700px;
  height: 700px;
  background: rgb(200,207,137);
  background: radial-gradient(circle, rgba(200,207,137,0.3) 44%, rgba(182,136,145,0.3) 57%, rgba(214,127,39,0.3) 100%);
  border-radius: 50%;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-wrapper {
display: flex;
justify-content: center;
width: 130%;
}

.heading-wrapper p {
color: rgb(15, 14, 14);
font-size: 1.4rem;
font-weight: 800;
text-shadow: 1px 1px 0px #bba6a6;
}

 h1.main-heading {
  color: var(--background-color-primary);
  font-size: 5rem;
  font-weight: 800;
  text-shadow: 1px 1px 0px #bba6a6;
}

#feature {
  margin-top: 75px;
}

.highlight {
  color: var(--text-color-primary);
}

.features-card {
  height: 500px;
  background: #4b3c3c;
}

#footer a {
  color: var(--text-color-primary);
}

.features-heading {
  font-weight: 800;
  font-size: 1.3rem;
  color: var(--text-color-primary);
}

/* NEWS */

.news-row {
  display: flex;
  justify-content: space-between;
}

.widget.single-news {
  margin-bottom: 20px;
  position: relative;
}

.widget.single-news .image img {
  display: block;
  width: 100%;
}

.widget.single-news .image .gradient {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjbGVzc2hhdC1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
  background-image: -webkit-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -moz-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -o-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0.05) 100%);
}

.widget.single-news .details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

.widget.single-news .details .category {
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.widget.single-news .details .category a {
  color: #fff;
  zoom: 1;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}

.widget.single-news .details h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 19px;
}

.widget.single-news .details h3 a {
  color: #fff;
  zoom: 1;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

.widget.single-news .details:hover time {
  position: relative;
  display: block;
  color: #fff;
  font-size: 13px;
  margin-bottom: -20px;
  -webkit-transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -moz-transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -o-transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
  zoom: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}

/* MEDIA */

@media screen and (max-width: 1000px) {
  .news-row {
    flex-direction: column;
  }
}
